#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.formBox {
  background-color: #ddd;
  /* width: 30%; */
  padding: 10px;
  margin: 20px;
  text-align: left;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  width: 98%;
}